.main-window{
    margin: 0 auto;
    margin-top: 5%;
    height: 700px;
    width: 800px;
    background: #fefefe;
    border-radius: 15px;
    box-shadow: 0px 0px 24px 7px rgba(0, 0, 0, 0.2);
}

.head-container{
    height: 150px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background: linear-gradient(90deg, rgb(241, 194, 87) 0%, rgb(219, 155, 132) 100%);
    box-shadow: 0px 11px 14px -10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.username-label{
    font-size: 40px;
    color: rgba(255,216,33,1);
    letter-spacing: 1px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; 
    -webkit-text-shadow: 2px 2px 2px #000;
  -moz-text-shadow: 2px 2px 2px #000;
      text-shadow: 2px 2px 2px #000;
}

.username-label:hover{
    color: rgba(199,115,155,1); /* Меняем цвет текста */
}

.main-list{
    height: 550px;
    background-color: #fefefe;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}

.todo-line{
    font-weight: 100;
    border: 4px solid black;
    border-radius: 15px;
    padding-left: 10px;    
    align-items: center;
    display: flex;
    font-size: 25px;
    height: 10%;
    width: 95%;
    margin-top: 10px;
    background: linear-gradient(90deg, rgba(255, 214, 33, 0.209) 0%, rgba(199, 115, 156, 0.209) 100%);
}
