.main-window{
    margin: 0 auto;
    max-height: 1300px;
    width: 800px;
    background: #fefefe;
    border-radius: 15px;
    box-shadow: 0px 0px 24px 7px rgba(0, 0, 0, 0.2);
}

.head-container{
    height: 150px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    /* background: linear-gradient(90deg, rgb(241, 194, 87) 0%, rgb(219, 155, 132) 100%); */
    background: #e6ae6e;
    /* background: qweqwe; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
 
.back-arrow{
    font-size: 35px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 46px;
    width: 46px;
    border: 3px solid black;
    border-radius: 15px;
    background: #fefefe;
  }
  
.back-arrow:hover{
    /* background: #e6ae6e; */
    background: linear-gradient(90deg, rgba(254, 245, 208) 0%, rgba(243, 225, 234) 100%);
  
    transition-duration: 0.2s;
    scale: 1.1;
    cursor: pointer;
  }
  
.back-arrow:active{
    scale: 1.01;
    opacity: 0.4;
  }

.main-list{
    padding-bottom: 10px;
    max-height: 950px;
    background-color: #fefefe;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 4px solid black;
}

.todo-line{
    font-weight: 100;
    border: 4px solid black;
    border-radius: 15px;
    padding-left: 10px;    
    justify-content: space-between;
    align-items: center;
    display: flex;
    font-size: 25px;
    height: 50px;
    width: 95%;
    margin-top: 10px;
    background: linear-gradient(90deg, rgba(255, 214, 33, 0.209) 0%, rgba(199, 115, 156, 0.209) 100%);
    padding-right: 10px;
}

.operations-wrapper{
    height: 50px;
    width: 100px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}

.add-todo, .update-todo, .delete-todo{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 46px;
    width: 46px;
    font-size: 40px;
    border: 3px solid black;
    border-radius: 15px;
    background: #fefefe;
}

.update-todo{
    transform: rotateY(180deg);
    height: 45px;
    width: 45px;
    font-size: 30px;
    padding-bottom: 1%;
}

.delete-todo{
    color: rgb(240, 130, 130);
    height: 45px;
    width: 45px;
    font-size: 30px;
}

.update-todo:disabled,  .delete-todo:disabled{
    opacity: 0.4;
}

.add-todo:hover, .update-todo:hover, .delete-todo:hover{
    background: linear-gradient(90deg, rgb(243, 227, 232) 0%, rgba(243, 225, 223, 1) 100%);
    transition-duration: 0.2s;
    scale: 1.1;
    cursor: pointer;
}

.add-todo:hover{
    background: linear-gradient(90deg, rgba(254, 245, 208) 0%, rgba(243, 225, 234) 100%);

    /* background: linear-gradient(90deg, rgb(224, 163, 124) 0%, rgba(222, 160, 127, 1) 100%); */
}

.add-todo:active, .update-todo:active, .delete-todo:active{
    scale: 1.01;
    transition-duration:0ms;
    opacity: 0.4;
}

.delete-message{
    position: fixed;
    top: 40%;
    left: 50%;
    width: 400px;
    height: 200px;
    background: #f0f0f0;
    margin: -100px 0 0 -200px; 
    border-radius: 15px;
    box-shadow: 0px 0px 4px 6px rgba(34, 60, 80, 0.18);
}

.delete-message-head{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    height: 50%;
    width: 100%;
    background: #fefefe;
    /* background: linear-gradient(90deg, rgb(234, 182, 100) 0%, rgba(225, 165, 120, 1) 100%); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-message-body{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.yes-btn, .no-btn{
    font-size: 25px;
    width: 30%;
    height: 60%;
    background: #fefefe;
    border: 3px solid black;
    border-radius: 15px;
}

.yes-btn:hover, .no-btn:hover{
    background: linear-gradient(90deg, rgb(234, 182, 100) 0%, rgba(225, 165, 120, 1) 100%);
    scale: 1.05;
    letter-spacing: 3px;
    transition-duration: 0.2s;
}

.yes-btn:active, .no-btn:active{
    scale: 1.01;
    opacity: 0.8;
}





