<div class="markers">
    <li class="tab" (click)="goToTodos()">Todos</li>    
    <li class="tab-current"><a class="head-label">Users</a></li>
</div>

<div class="main-window">
    <div class="head-container">
        <li class="column-name">ID</li>
        <li class="column-name">First name</li>
        <li class="column-name">Last name</li>
        <li class="column-name">Username</li>
        <li class="column-name">Password</li>
        <li class="column-name">Birth date</li>
    </div>
</div>