<div class="markers" [ngClass]="{background: isPopUpActive || loading}">
    <li class="tab" (click)="goToTodos()">Todos</li>    
    <li class="tab-current"><a class="head-label">Users</a></li>
</div>

<div class="main-window" [ngClass]="{background: isPopUpActive || loading}">
    <table cellSpacing="0">
        <thead class="head-container">
            <tr>
                <th class="column-name-first">ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Username</th>
                <th>Password</th>
                <th>Birth date</th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let user of this.userInfo" class="user-line" (click)="showInfo(user.id)">
                <td class="first-cell">{{user.id}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.username}}</td>
                <td>{{user.password}}</td>
                <td>{{user.birthDate | date}}</td>
            </tr>
        </tbody>
    </table>
    
    <div class="footer">
        <div class="left-arrow-wrapper"> 
            <a class="left-arrow" 
            (click)="previousPage()"
            [ngClass]="{left_arrow_disabled: this.currentPage === this.pagesNumber[0]}"></a>
        </div>

        <div class="numbers-wrapper">
            <a class="number" *ngFor="let page of pagesNumber;" 
            (click)="setCurrentPage(page)" 
            [ngClass]="{number_current: page === currentPage}"
            >
                {{page}}
            </a>
            <form>
                <select [formControl]="selectedSet">
                    <option *ngFor="let set of pageSet" [ngValue]="set">
                        {{set}}
                    </option>     
                </select>
            </form>
        </div>                
        
        <div class="right-arrow-wrapper"> 
            <a class="right-arrow"
           (click)="nextPage()"
            [ngClass]="{right_arrow_disabled: this.currentPage === this.pagesNumber[this.pagesNumber.length - 1]}"></a>
        </div>
    </div>
</div>


<app-user-info *ngIf="isPopUpActive"></app-user-info>
<div *ngIf="loading" class="loader"></div>