.main-window{
    margin: 0 auto;
    max-height: 100%;
    width: 50%;
    min-width: 800px;
    background: #e6ae6e;
    border-radius: 15px;
    box-shadow: 0 0 24px 7px rgba(0, 0, 0, 0.2);
}

.head-container{
    height: 100px;
}

table{
    width: 100%;
    border: #e6ae6e;
}

th, .column-name-first, .column-name-last{
    text-align: left;
    font-size: 25px;
    color: rgba(255,216,33,1);
    letter-spacing: 1px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-shadow: 2px 2px 2px #000;
}

.column-name-first{
    padding-left: 20px;
}

.user-line{
    background: #fefefe;
    height: 60px;
}

.user-line:hover{
    transition-duration: 200ms;
    background: #f5ede4;
    cursor: pointer;
}

td{
    border-top: 2px solid black;
    text-align: left;
    font-weight: 100;
    font-size: 20px;
}

.first-cell{
    padding-left: 20px;
}

.user-line:active{
    transition-duration: 0ms;
    box-shadow: 0px 0px 8px 4px rgba(34, 60, 80, 0.2) inset;
}

.footer{
    height: 75px;
    background: #e6ae6e;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.numbers-wrapper{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.number, .number_current{
    height: auto;
    border: none;
    display: block;
    font-size: 25px;
    color: rgba(255,216,33,1);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-shadow: 1px 1px 1px #000;
}

.number:hover{
    border: none;
    cursor: pointer;
    transition-duration: 100ms;
    font-size: 40px;
    color: rgba(199,115,155,1);
}

.number:active{
    scale: 1.2;
    opacity: 0.6;
}

.number_current{
    color: rgb(108, 108, 108);
    text-shadow: 1px 1px 1px rgb(108, 108, 108);
}

.number_current:hover{
    color: rgb(108, 108, 108);
}


form{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

select{
    cursor: pointer;
    height: 100%;
    font-size: 20px;
    border-radius: 10px;
    outline: none;
    background: #fefefe;
}

select:hover{
    transition-duration: 200ms;
    opacity: 0.9;
    scale: 1.05;
}

.right-arrow-wrapper, .left-arrow-wrapper{
    display: flex;
    align-items: center;
    width: 25%;
    justify-content: center;
}

.right-arrow, .left-arrow{
    width: 2rem;
    height: 2rem;
    box-shadow: -3px 3px 0 white;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.right-arrow{
    transform: rotate(225deg);
}

.left-arrow{
    transform: rotate(45deg);
}

.left-arrow:hover, .right-arrow:hover{
    padding-top: 0.2rem;
    padding-right: 0.2rem;
    cursor:pointer;
    transition-duration: 0.2s;
    opacity: 0.7;
    box-shadow: -4px 4px 0 rgba(199,115,155,1);
}

.left-arrow:active, .right-arrow:active{
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    transition-duration: 0.2s;
    opacity: 1;
    box-shadow: -5px 5px 0 rgba(199,115,155,1);
}

.right_arrow_disabled, .left_arrow_disabled,
.right_arrow_disabled:hover, .left_arrow_disabled:hover,
.right_arrow_disabled:active, .left_arrow_disabled:active{
    cursor: default;
    opacity: 1;
    padding-top: 0;
    padding-right: 0;
    width: 2rem;
    height: 2rem;
    box-shadow: -4px 4px 0 #e6e6e660;
}
