<div class="main-window">
    <a class="back-arrow" (click)="back()">&larr;</a>   
    <div class="head-container">
        <label class="head-label" >{{headerLabelText}}</label>
    </div>

    <div class="main-container">
        <input type="text" class="todo-input" [formControl]="taskInput">
            <span *ngIf="taskInput.errors?.['required']  && taskInput.touched" style="color:#000000">Field is required</span>
    </div>
    
    <div class="foot-container">
        <button class="add-btn" (click)="changeTodos()" [disabled]="taskInput.value === ''" [disabled]="!btnAllow">{{buttonText}}</button>
    </div>
</div>
<!-- style="margin-right: 34%;" -->