<form [formGroup]="loginForm" class="main-form">
    
    <div class="label-container">
        <h1>Login</h1>
    </div>

    <div class="inputs-container">
        <label class="user-label">Username</label>
        <input type="text" formControlName = "login"/>

        <!-- <div style="position: absolute; margin-top: 10.5%" *ngIf="loginForm.get('login')?.invalid && loginForm.get('login')?.touched">
            <span *ngIf="loginForm.get('login')?.errors?.['required']">Field is required</span>
        </div> -->

        <div>
            <span *ngIf="loginForm.get('login')?.errors?.['required']  && loginForm.get('login')?.touched" style="color:#fefefe">Field is required</span>
        </div>

        <label class="password-label">Password</label>
        <input type="password" formControlName = "password">  
        
        <div>
            <span *ngIf="loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.touched" style="color:#fefefe">Field is required</span>
        </div>

    </div>

    <button (click)="signIn()">Sign in</button>

</form>
