<div class="main-container">
    <div class="header">
        <!-- <a class="back-arrow" (click)="back()">&larr;</a> -->
        <label class="head-label">User Information</label>
    </div>

    <div class="info-container">
        <img src="{{userInfo?.image}}">

    <div *ngFor="let key of keys">
        <!-- {{userInfo[key]}} -->
    </div>

    <!-- <table>
        <tr>
            <th>ID</th>
            <td>{{userInfo.id}}</td>
        </tr>
        <tr>
            <th>User name</th>
            <td>{{userInfo.username}}</td>
        </tr>
        <tr>
            <th>Password/th>
            <td>{{userInfo.password}}</td>
        </tr>
        <tr>
            <th>First name</th>
            <td>{{userInfo.firstName}}</td>
        </tr>

        <tr>
            <th>Last name</th>
            <td>{{userInfo.lastName}}</td>
        </tr>
        <tr>
            <th>Age</th>
            <td>{{userInfo.age}}</td>
        </tr>
        <tr>
            <th>Birth date</th>
            <td>{{userInfo.birthDate}}</td>
        </tr>
        <tr>
            <th>Blood group</th>
            <td>{{userInfo.bloodGroup}}</td>
        </tr>

        <tr>
            <th>Height</th>
            <td>{{userInfo.height}}</td>
        </tr>
        <tr>
            <th>Weight</th>
            <td>{{userInfo.weight}}</td>
        </tr>
        <div class="property">ID{{userInfo.id}}</div>
        <div class="property">{{userInfo.firstName}}</div>
        <div class="property">{{userInfo.lastName}}</div>
        <div class="property">{{userInfo.username}}</div>
        <div class="property">{{userInfo.age}}</div>
        <div class="property">{{userInfo.password}}</div>
        <div class="property">{{userInfo.birthDate}}</div>
        <div class="property">{{userInfo.bloodGroup}}</div>
        <div class="property">{{userInfo.height}}</div>
        <div class="property">{{userInfo.weight}}</div>
    </table> -->
    </div>
</div>
