<div class="main-window">
    <div class="head-container">
        <a class="back-arrow" style="margin-left: 3%" (click)="back()">&larr;</a>
        <label class="head-label" style="margin-left: -6%">Update task</label>
    </div>

    <div class="main-container">
        <input type="text" class="todo-input" [formControl]="taskInput">
            <span *ngIf="taskInput.errors?.['required']  && taskInput.touched" style="color:#000000">Field is required</span>
    </div>
    
    <div class="foot-container">
        <button class="add-btn" (click)="update()" [disabled]="taskInput.value === ''" onclick="disabled = true">Update</button>
    </div>
</div>
