@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Silkscreen:wght@100;400;700&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    background: linear-gradient(90deg, rgba(255,216,33,1) 0%, rgba(199,115,155,1) 100%);
    user-select: none;  
}

.markers{
  margin: 0 auto;
  margin-top: 5%;
  height: 100px;
  width: 400px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  display: flex;
  justify-content: center;
  align-items:center;
  position: relative;
}

.background{
  /* backdrop-filter: blur(10px); */
  pointer-events: none;
  animation: 0.3s blurScale;
  filter: blur(5px); 
  
}

@keyframes blurScale {
  from {
      filter: blur(0px);
  }
  to {
      filter: blur(5px);
  }
}

.tab, .tab-current{
  align-self: flex-end;
  border-top: 4px solid black;
  border-left: 4px solid black;
  border-right: 4px solid black;
  height:40%;
  width:50%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background: #fefefe;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 500;
}

.tab:hover{
  cursor: pointer;
  transition-duration: 200ms;
  background: linear-gradient(90deg, rgba(254, 245, 208) 0%, rgba(243, 225, 234) 100%);
  height: 50%;
  letter-spacing: 3px;
  font-size: 30px;
}

.tab-current{
  box-shadow: 0px -14px 19px -4px rgba(34, 60, 80, 0.2);
  border: none;
  background: #e6ae6e;
  letter-spacing: 1px;
  font-size: 30px;
  height: 60%;
}

.tab:active{
  transition-duration: 0ms;
  box-shadow: 0px 0px 30px 12px rgba(34, 60, 80, 0.2) inset;
}


.head-label{
  font-size: 40px;
  color: rgba(255,216,33,1);
  letter-spacing: 1px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; 
  text-shadow: 2px 2px 2px #000;
}

.head-label:hover{
  color: rgba(199,115,155,1); 
}

.loader {
  --b: 20px;  /* border thickness */
  --n: 20;   
  --g: 10deg;
  --c: rgba(255,216,33,1);   
  
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100px;
  margin: -50px 0 0 -50px; 
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px; 
  background: conic-gradient(rgba(199,115,155,1)0,var(--c)) content-box;
  --_m:
    repeating-conic-gradient(rgba(199,115,155,1) 0deg,
    rgba(199,115,155,1)1deg calc(360deg/var(--n) - var(--g) - 1deg),
       #0000     calc(360deg/var(--n) - var(--g)) calc(360deg/var(--n))),
    radial-gradient(farthest-side,#0000 calc(98% - var(--b)),#000 calc(100% - var(--b)));
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: destination-in;
          mask-composite: intersect;
  animation: load 1s infinite steps(var(--n));
}
@keyframes load {to{transform: rotate(1turn)}}
