@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Silkscreen:wght@100;400;700&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    /* -webkit-text-shadow: 1px 1px 1px #000;
  -moz-text-shadow: 1px 1px 1px #000;
      text-shadow: 1px 1px 1px #000; */
    overflow-x: hidden;
    background: linear-gradient(90deg, rgba(255,216,33,1) 0%, rgba(199,115,155,1) 100%);
    user-select: none;  
}

.head-label{
  font-size: 40px;
  color: rgba(255,216,33,1);
  letter-spacing: 1px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; 
  text-shadow: 2px 2px 2px #000;
}

.head-label:hover{
  color: rgba(199,115,155,1); 
}